<div class="jumbotron">
	<h1>Hi!</h1>
	<p>Click here to</p>
	<p>
		<%= link_to "Login", "#", class: "btn btn-primary btn-lg" %>
		<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>